<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local-monomod" value="/Users/vyron/Projects/forks/MonoMod/artifacts/package/release" />
    <add key="local-cpp2il" value="/Users/vyron/Projects/forks/Cpp2IL/local-feed" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="bepinex-nuget" value="https://nuget.bepinex.dev/v3/index.json" />
  </packageSources>
</configuration>
